<link rel="stylesheet" type="text/css" href="/style.css">
<h3> Links </h3>
<% if @links.length == 0 %>
  You don't have any links
<% end %>
<% @links.each do |link| %>
 <div style="border: solid black 2px; border-radius:5px;padding:5px;">
 <h6><a href="<%= link.url %>"><%= link.title %></a></h6>
  Tags:
  <% link.tags.each do |tag| %>
    <a href="/tags/<%= tag.tag%>"><%= tag.tag%></a>
  <% end %>    
 </div>
 </br>
<% end %>
  
