<link rel="stylesheet" type="text/css" href="/style.css">
<div>
<form  action="/links" method="POST">
<div class="form-group">
    <label class="control-label">Title</label>
    <input class="form-control" type="text" name="title" value='<%= @link.title %>'>
    </br>
     <label class="control-label">URL</label>
    <input class="form-control" type="text" name="url" value='<%= @link.url %>'>
    </br>
     <label class="control-label">Tags (comma separated)</label>
    <input class="form-control" type="text" name="tags">
    </br>
    <input type="submit" class="btn btn-success" class="button" value="Add"/>
</div>
</form>
</div>
